## 01. Import Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 02. Import Dataset

In [2]:
#create a path
path = r'C:\Users\Lumex\Documents\Achievement_6_Project\Chocolate Bar Rating'
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'flavors_of_cacao.csv'))

In [3]:
#view number of the data columns and rows
df.shape

(1795, 9)

In [4]:
#view the dataset
df.head(20)

,CompanyÂ \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru
10,A. Morin,Panama,1011,2013,70%,France,2.75,,Panama
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
12,A. Morin,Brazil,1011,2013,70%,France,3.25,,Brazil
13,A. Morin,Equateur,1011,2013,70%,France,3.75,,Ecuador
14,A. Morin,Colombie,1015,2013,70%,France,2.75,,Colombia
15,A. Morin,Birmanie,1015,2013,70%,France,3.00,,Burma
16,A. Morin,Papua New Guinea,1015,2013,70%,France,3.25,,Papua New Guinea
17,A. Morin,Chuao,1015,2013,70%,France,4.00,Trinitario,Venezuela
18,A. Morin,Piura,1019,2013,70%,France,3.25,,Peru
19,A. Morin,Chanchamayo Province,1019,2013,70%,France,3.50,,Peru

## 03. Perform Basic Cleaning on Data and Consistency checks.

In [5]:
#Remove the '\n' in thecolumns name
df.columns = df.columns.str.replace('\n', ' ').str.strip()

In [6]:
df.head(5)

,CompanyÂ (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [7]:
#Rename the column name to a  shorter one.
df.rename(columns = {
    "Company (Maker-if known)": "company",
    "Specific Bean Origin or Bar Name": "name_of_city_for_beanorigin",
    "Review Date": "review_year",
    "Cocoa Percent": "cocoa_percent",
    "Company Location": "company_location",
    "Bean Type": "bean_type",
    "Broad Bean Origin": "country_of_bean_origin"
}, 
          inplace=True)

In [8]:
#remove the'%' from the cocoa_percent column and change it to float value
df['cocoa_percent'] = df['cocoa_percent'].str.rstrip('%').astype(float)

In [9]:
# Checking for missing values in the df dataset
df.isnull().sum()

CompanyÂ  (Maker-if known)      0
name_of_city_for_beanorigin    0
REF                            0
review_year                    0
cocoa_percent                  0
company_location               0
Rating                         0
bean_type                      1
country_of_bean_origin         1
dtype: int64

In [10]:
#replace the missing value with N/A
df.fillna({"bean_type": "N/A"}, inplace=True)
df.fillna({"country_of_bean_origin": "Nan"}, inplace=True)

Only one value is missing in the bean_type and country_of_bean_origin and was replaced with N/A

In [11]:
# Checking if there are no missing values
df.isnull().sum()

CompanyÂ  (Maker-if known)      0
name_of_city_for_beanorigin    0
REF                            0
review_year                    0
cocoa_percent                  0
company_location               0
Rating                         0
bean_type                      0
country_of_bean_origin         0
dtype: int64

In [12]:
#Running exploratory analysis on the df dataframe
df.describe()

               REF  review_year  cocoa_percent       Rating
count  1795.000000  1795.000000    1795.000000  1795.000000
mean   1035.904735  2012.325348      71.698329     3.185933
std     552.886365     2.927210       6.323118     0.478062
min       5.000000  2006.000000      42.000000     1.000000
25%     576.000000  2010.000000      70.000000     2.875000
50%    1069.000000  2013.000000      70.000000     3.250000
75%    1502.000000  2015.000000      75.000000     3.500000
max    1952.000000  2017.000000     100.000000     5.000000

In [13]:
# finding the median for df 
df['cocoa_percent'].median()

70.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CompanyÂ  (Maker-if known)    1795 non-null   object
 1   name_of_city_for_beanorigin  1795 non-null   object
 2   REF                          1795 non-null   int64
 3   review_year                  1795 non-null   int64
 4   cocoa_percent                1795 non-null   float64
 5   company_location             1795 non-null   object
 6   Rating                       1795 non-null   float64
 7   bean_type                    1795 non-null   object
 8   country_of_bean_origin       1795 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [15]:
# check for duplicate values in your df data
df[df.duplicated()]

Empty DataFrame
Columns: [CompanyÂ  (Maker-if known), name_of_city_for_beanorigin, REF, review_year, cocoa_percent, company_location, Rating, bean_type, country_of_bean_origin]
Index: []

There are no duplicate values in the dataset

## 04. Export the cleaned dataset

In [16]:
#Export the cleaned datafrme for df_prods
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'flavors_of_cacao_cleaned.csv'))